<mat-toolbar>
  <button matIconButton>
    <img src="assets/images/renault.svg" alt="Renault brand" />
  </button>
  <span>Renault</span>
  <span class="example-spacer"></span>
  <button
    matIconButton
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    matIconButton
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>

  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>dark_mode</mat-icon>
  </button>
</mat-toolbar>
